mixin promo()

    +b('section').promo
        +e.content
            +e('h3').title <span>Проект «ЗОЖигай!»</span>
            +e('p').text Редакция Woman.ru убеждена, что к хорошим переменам в своей жизни нужно готовиться заранее. Все мы мечтаем начать жизнь с чистого листа 1 января – отказаться от любимых булочек, бокала вина по праздникам или в конце трудного рабочего дня или даже сигареты, но не всем нам хватает запала осуществить намерение с началом Нового года.
            +e('p').text В ноябре мы объявим «ЗОЖигательный месяц на Woman.ru» - своего рода ЗОЖ-марафон, который поможет всем заинтересованным женщинам встать на путь к здоровью и красоте и уже в новый 2022 год вступить обновленными и воодушевленными.
            +e.actions 
                +e('button').btn
                    img(src='/images/promo-btn.png')
        +e.logo._1
            img(src='/images/logo-1.png')
        +e.logo._2
            img(src='/images/logo-2.png')
        +e.logo._3
            img(src='/images/logo-3.png')
        +e.logo._4
            img(src='/images/logo-4.png')
        +e.sharing
            +sharing()